# Commonly unnecessary files to track.
*~
#*#
.DS_Store

# Compiled Object files.
*.o
*.d
*.dSYM

# Created by make
makemake
Makefile.scripts
/runtime/players/script*.cc
/runtime/players/teams.cc
/runtime/samuraiPlay
*.samuraiLog
