Rokkaku.Yasutsuna	greedy
Date.Masamune		greedy
Uesugi.Kenshin		greedy
Takeda.Shingen		greedy
Houjou.Ujimasa 		greedy
Imagawa.Yoshimoto	greedy
Tokugawa.Ieyasu		greedy
Oda.Nobunaga		greedy
Mouri.Motonari		greedy
Chousokabe.Motochika	greedy
Ootomo.Sourin		greedy
Shimazu.Yoshihisa	greedy
